# Python virtual environments
venv/

# Python cache files
__pycache__/
.pytest_cache/
.ruff_cache/

# coverage.py artifacts
.coverage
htmlcov/
.cache/

# Python packaging artifacts
*.egg-info/
**/*.egg-info/
src/InsightEN.egg-info/
dist/
build/
*.egg

# Optional: MacOS, VSCode, etc.
.DS_Store
.vscode/
.env
